*, *::after, *::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  /*border: 2px dashed red;*/
}

html {
  scroll-behavior: smooth;
}

/* WebKit Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbg);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Firefox Scrollbar */
::-moz-scrollbar {
  width: 8px;
}

::-moz-scrollbar-thumb {
  background-color: var(--color-scrollbg);
}

::-moz-scrollbar-track {
  background-color: transparent;
}

body {
  /* Add some content to enable scrolling */
  height: 150vh;
}

:root {
  --color-bg: #1C1C1C;
  --color-scrollbg: #363636;
  --color-line: #707070;
  --color-maintxt: #FFFFFF;
  --color-subtxt: #B3B3B3;
  --fs-14: 14px;
  --fs-28: 28px;
  --fs-34: 34px;
  --fs-50: 50px;
  --fs-60: 60px;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-maintxt);
  font-weight: 400;
  background-color: var(--color-bg);
  font-size: var(--fs-14);
  overflow-x: hidden;
}

img {
  width: 100%;
}

.subtext01 {
  color: var(--color-subtxt);
}

a, a::after {
  color: white;
  transition: 200ms ease-in-out;
}

a:hover {
  color: var(--color-subtxt);
}

h1 {
  font-size: var(--fs-60);
  color: var(--color-maintxt);
}

h2 {
  font-size: var(--fs-50);
  color: var(--color-subtxt);
}

h3, h4 {
  font-size: var(--fs-28);
  color: var(--color-maintxt);
}

h1, h2, h3, h4 {
  font-weight: 400;
  letter-spacing: -2px;
}

header {
  padding: 30px 20px;
  background-color: var(--color-bg);
}

nav {
  display: flex;
}

.webname {
  width: 24%;
  text-align: left;
}

.nav-contact {
  width: 30%;
  text-align: left;
}

.nav-links {
  width: 46%;
  text-align: right;
}

.nav-links {
  display: inline-flex;
  justify-content: end;
  gap: 25px;
}

.container, .grid-divider, .contact-container {
  margin: 0 20px;
}

.grid-divider {
  display: grid;
  grid-template-columns: 24% 62% 14%;
}

.hero-container {
  margin-top: 250px;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--color-line);
}
.hero-container .location-time {
  display: grid;
  gap: 1rem;
}
.hero-container .location-time .get-contact {
  display: none;
}

.static-text {
  color: var(--color-subtxt);
  font-size: var(--fs-60);
  line-height: 1;
}

.hero-picture img {
  position: relative;
  top: 10px;
  width: 70px;
  border-radius: 50%;
}

.what_i_do {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
}

.scroll-container {
  width: 100vw;
  overflow: hidden;
}

.horizontal-scrolling-items,
.horizontal-scrolling-items2 {
  display: flex;
}

.horizontal-scrolling-items__item {
  font-size: clamp(2rem, 10vw, 4rem);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: white;
  line-height: 1;
  white-space: nowrap;
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(0px - 50%));
  }
}
.horizontal-scrolling-items {
  animation-name: infiniteScroll;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes infiniteScroll2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(0px - 50%));
  }
}
.horizontal-scrolling-items2 {
  animation-name: infiniteScroll2;
  animation-duration: 15s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.about-container, .project-grid {
  padding-top: 4rem;
  border-top: 2px solid var(--color-line);
}

.about-desc {
  width: 70%;
}
.about-desc .subtext01 {
  padding-top: 14px;
}

.social-media ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.about-playground {
  display: grid;
  grid-template-columns: 25% 75%;
}

.grid-table-playground {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 4rem;
  border-top: 2px solid var(--color-line);
  padding-top: 2rem;
  margin-bottom: 6rem;
  margin-right: 20px;
}
.grid-table-playground .playground-table ul {
  padding: 0 0 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid var(--color-line);
}
.grid-table-playground .playground-table ul .faded {
  color: var(--color-subtxt);
}
.grid-table-playground ul.t02, .grid-table-playground ul.t03 {
  padding-top: 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid var(--color-line);
}

.contact-container {
  display: grid;
  grid-template-columns: 24% 50% 26%;
  margin-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 2px solid var(--color-line);
}

.contact-desc h3 {
  color: var(--color-subtxt);
}

.social-media02 ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

footer {
  margin: 1rem 20px;
}
footer p {
  color: var(--color-subtxt);
  padding-bottom: 1rem;
}
footer p span {
  color: var(--color-maintxt);
  font-weight: 500;
}

/* Default styles for all screen sizes */
/* Styles for screens with a width between 320px and 799px */
@media only screen and (min-width: 320px) and (max-width: 799px) {
  .grid-divider {
    display: grid;
    grid-template-columns: 1fr;
  }
  nav {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
  }
  .nav-contact {
    display: none;
  }
  .webname {
    width: unset;
  }
  .nav-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .hero-container {
    margin-top: 100px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 2px solid var(--color-line);
  }
  .hero-container .location-time {
    display: grid;
    gap: 4rem;
  }
  .hero-container .location-time .get-contact {
    display: unset;
  }
  .hero-picture img {
    position: relative;
    top: 10px;
    width: clamp(32px, 8vw, 60px);
    border-radius: 50%;
  }
  .hero-heading {
    margin-top: 3rem;
  }
  .hero-heading .static-text span {
    font-size: clamp(28px, 8vw, 50px);
  }
  .hero-heading h1 {
    font-size: clamp(28px, 8vw, 50px);
  }
  .empty-space02 {
    display: none;
  }
  .grid-table-playground {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-table-playground .playground-table ul {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-table-playground ul.t02, .grid-table-playground ul.t03 {
    padding-top: 1rem;
  }
}
/* Styles for screens with a width between 800px and 1023px */
@media only screen and (min-width: 800px) and (max-width: 1023px) {
  /* Add your styles here */
}
/* Styles for screens with a width between 1024px and 1439px */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  /* Add your styles here */
}
/* Styles for screens with a width between 1440px and 1919px */
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  /* Add your styles here */
}
/* Styles for screens with a width of 1920px and larger */
@media only screen and (min-width: 1920px) {
  /* Add your styles here */
}/*# sourceMappingURL=main.css.map */