@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --scrollbg: #363636;
    --text: #e2edfa;
    --subtext: #7f8c97;
    --background: #06131e;
    --primary: #88b8e8;
    --secondary: #6f1b91;
    --accent: #da3cd9;

    --fs-14: 14px;
}

html {
    scroll-behavior: smooth;
}

/* WebKit Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: va(--color-scrollbg);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

    /* Firefox Scrollbar */
::-moz-scrollbar {
    width: 8px;
}

::-moz-scrollbar-thumb {
    background-color: va(--color-scrollbg);
}

::-moz-scrollbar-track {
    background-color: transparent;
}

body {
    color: var(--text);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: var(--background);
    font-size: var(--fs-14);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 24px;}

h2 {font-size: 30px; }

h4 {font-size: 1.777rem; /* 28.48px */}

img {
    width: 100%;
}

.subtext01 {
    color: var(--subtext);
}

a, a::after {
    color: var(--text);
    transition: 200ms ease-in-out;
}

a:hover {
    color: var(--subtext);
}

.container, .grid-divider, .contact-container {
    margin: 0 10px;
}

.empty-space {
    border-bottom: 2px solid var(--subtext);
} 


/*#####################################
Navigation Bar
#######################################
*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 20px 10px;


    .get-contact {
        display: none;
    }

    .nav-links {
        text-align: right;
        display: grid;
        gap: 4px;
    }
}



/*#####################################
Hero Section
#######################################
*/


.hero-container {
    display: grid;
    gap: 5rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid var(--subtext);
}

.hero-prompt {
    margin-top: 3rem;
    display: grid;
    gap: 5rem;
}

.static-text h1, .subtext02 {
    color: var(--subtext);
    background: linear-gradient(to right, #88b8e8, #da3cd9);
    -webkit-background-clip: text; 
    color: transparent;
    display: inline-block;
}

.hero-picture img {
    position: relative;
    top: 10px;
    width: 40px;
    height: auto;
    border-radius: 50%;
}


/*#####################################
Horizontal Scroll Section
#######################################
*/
.what_i_do {
    margin: 1.5rem 0;
}

.scroll-container {
    width: 100vw;
    overflow: hidden;
}

.horizontal-scrolling-items,
.horizontal-scrolling-items2 {
    display: flex;
    margin: 0.5rem;
}
  
.horizontal-scrolling-items__item {
    font-size: clamp(2rem, 10vw, 4rem);
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    color: white;
    line-height: 1;
    white-space: nowrap;
}
  
@keyframes infiniteScroll {
    from {transform: translateX(0) }
    to {transform: translateX(calc(0px - 50%));}
}

.horizontal-scrolling-items {
    animation-name: infiniteScroll;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
  
@keyframes infiniteScroll2 {
    from {transform: translateX(0) }
    to {transform: translateX(calc(0px - 50%));}
}

.horizontal-scrolling-items2 {
    animation-name: infiniteScroll2;
    animation-duration: 15s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/*#####################################
About Section
#######################################
*/

.about-container {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .social-media ul{
        margin-top: 1.5rem;
        display: flex;
        gap: 1rem;
    }
}

.about-text {
    margin-bottom: 1.8rem;

    span {
        color: white;
    }
}

.about-desc h4 {
    margin-bottom: 1.25rem;
}
  
.about-playground {
    display: grid;
    padding-bottom: 4rem;
    border-bottom: 2px solid var(--subtext);

    .grid-table-playground {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

}

.playground-table {
    display: grid;
    gap: 1rem;

    .table {
        padding-bottom: 1rem;
        border-bottom: 2px solid var(--subtext);

        p {
            color: var(--subtext);
        }
    }
}


/*#####################################
Projects Section
#######################################
*/ 

.project-grid {
    margin-top: 2rem;
    padding-bottom: 4rem;
    display: grid;
    gap: 1rem;
    border-bottom: 2px solid var(--subtext);
    
    .project-text {
        padding-bottom: 1.8rem;
    }
}



/*#####################################
Reach out
#######################################
*/ 

.contact-container {
    margin-top: 2rem;
    padding-bottom: 4rem;
    display: grid;
    border-bottom: 2px solid var(--subtext);

    .contact-text {
        padding-bottom: 1.8rem;
        color: white;
    }

    .contact-desc {
        padding-bottom: 2rem;
    }

    .social-media02 ul {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0.5rem;
    }
}


footer {
    padding: 1rem 0;
    text-align: center;
}

/* Styles for screens with a width 320px  */


/* ############################################
################################################
Default styles for all other screen sizes 
################################################
################################################
*/


  
  /* Styles for screens with a width between 800px and 1023px */
@media only screen and (min-width: 800px) /*and (max-width: 1023px)*/ {

    h1, h2 {
        font-size: 36px;
    }

    .container, .grid-divider, .contact-container {
        margin-left: 15px;
        margin-right: 15px;
    }

    nav {
        margin: 30px 15px;

        .nav-links {
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }
    }

    .hero-container {
        margin-top: 30%;
        display: grid;
        grid-template-columns: 24% 76%;
        gap: 3rem;
    }

    .hero-prompt {
        margin: 0;
        display: grid;
        gap: 2rem;
        border: 2px solid red;
    }

    .hero-heading {
        margin-right: 50px;
        border: 2px solid red;
    }

    .about-desc h4 {
        width: 80%;
        border: 2px solid red;
    }

    .about-desc p {
        width: 70%;
    }

    .playground-table .table {
        display: grid;
        grid-template-columns: 40% 60%;
    }

}
  
  /* Styles for screens with a width between 1024px and 1439px */
@media only screen and (min-width: 1024px) /*and (max-width: 1439px)*/ {

    h1 {
        font-size: 46px;
    }   

    nav {
        border: 2px solid red;
        display: flex;

        .webname {
            width: 24%;
            text-align: left;
            border: 2px solid rgb(255, 0, 225);
        }
        
        .get-contact {
            display: unset;
            width: 30%;
            text-align: left;
            border: 2px solid green;
        }
        
        .nav-links {
            width: 46%;
            text-align: right;
            justify-content: end;
        }
    
    }

    .hero-prompt .get-contact {
        display: none;
    }

    .hero-container {
        gap: 0;
    }

    .hero-picture img {
        width: 60px;
    }

    .grid-divider, .contact-container {
        display: grid;
        grid-template-columns: 24% 62% 14%;
    }
    
    .about-container .social-media ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about-playground .empty-space, .grid-table-playground {
        margin-left: 24%;
    }

    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
  
  /* Styles for screens with a width between 1440px and 1919px */
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
    /* Add your styles here */

    .container, .grid-divider, .contact-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .grid-divider {
        display: grid;
        grid-template-columns: 24% 62% 14%;
    }
}
  
  /* Styles for screens with a width of 1920px and larger */
@media only screen and (min-width: 1920px) {
    /* Add your styles here */
}
  


/*

h1 {
    font-size: var(--fs-60);
    color: var(--color-maintxt);
}

h2 {
    font-size: var(--fs-50);
    color: var(--color-subtxt);
}

h3, h4 {
    font-size: var(--fs-28);
    color: var(--color-maintxt);
}

h1, h2, h3, h4 {
    font-weight: 400;
    letter-spacing: -2px;
}

header {
    padding: 30px 20px;
    background-color: var(--color-bg);
}

nav {
    display: flex;
}

.webname {
    width: 24%;
    text-align: left;
}

.nav-contact {
    width: 30%;
    text-align: left;
}

.nav-links {
    width: 46%;
    text-align: right;
}

.nav-links {
    display: inline-flex;
    justify-content: end;
    gap: 25px;
}

.container, .grid-divider, .contact-container {
    margin: 0 20px;
}

.grid-divider {
    display: grid;
    grid-template-columns: 24% 62% 14%;
}

.hero-container {
    margin-top: 250px;
    padding-bottom: 30px;
    border-bottom: 2px solid white;
}

.static-text {
    color: var(--color-subtxt);
    font-size: var(--fs-60);
    line-height: 1;
}

.hero-picture img {
    position: relative;
    top: 10px;
    width: 70px;
    border-radius: 50%;
}

.what_i_do {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}

.scroll-container {
    width: 100vw;
    overflow: hidden;
}

.horizontal-scrolling-items,
.horizontal-scrolling-items2 {
    display: flex;
  }
  
  .horizontal-scrolling-items__item {
    font-size: clamp(2rem, 10vw, 4rem);
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    color: white;
    line-height: 1;
    white-space: nowrap;
  }
  
  @keyframes infiniteScroll {
    from {transform: translateX(0) }
    to {transform: translateX(calc(0px - 50%));}
  }

  .horizontal-scrolling-items {
    animation-name: infiniteScroll;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes infiniteScroll2 {
    from {transform: translateX(0) }
    to {transform: translateX(calc(0px - 50%));}
  }

  .horizontal-scrolling-items2 {
    animation-name: infiniteScroll2;
    animation-duration: 15s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

.about-container, .project-grid {
    padding-top: 4rem;
    border-top: 2px solid white;
}

.about-desc {
    width: 70%;

    .subtext01 {
        padding-top: 14px;
    }
}

.social-media ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.about-playground {
    display: grid;
    grid-template-columns: 25% 75%;
}

.grid-table-playground {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 4rem;
    border-top: 2px solid white;
    padding-top: 2rem;
    margin-bottom: 6rem;
    margin-right: 20px;
    

    .playground-table ul{
        
        padding: 0 0 2rem 0 ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 2px solid white;

    }

    ul.t02, ul.t03 {
        padding-top: 2rem;
    }
    
}



.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid white;
}



.contact-container {
    display: grid;
    grid-template-columns: 24% 50% 26%;
    margin-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 2px solid white;
}

.contact-desc h3 {
    color: var(--color-subtxt);
}

.social-media02 ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}


footer {
    margin: 1rem 20px;
    
    p{
        color: var(--color-subtxt);

        span {
            color: var(--color-maintxt);
            font-weight: 500;
        }
    }
}



*/